# Configuration file

gem_finder {
    S:targets <
        createreautomated:diamond_node:[stable=false], 0xff1bb5be, diamond
        createreautomated:deepslate_diamond_node:[stable=false], 0xff1bb5be, diamond
        createreautomated:emerald_node:[stable=false], 0xff08aa2f, emerald
        createreautomated:deepslate_emerald_node:[stable=false], 0xff08aa2f, emerald
        createreautomated:lapis_node:[stable=false], 0xff3f67cd, lapis
        createreautomated:deepslate_lapis_node:[stable=false], 0xff3f67cd, lapis
     >
}


metal_finder {
    S:targets <
        createreautomated:ancient_debris_node:[stable=false], 0xff714741, ancient_debris
        createreautomated:nether_gold_node:[stable=false], 0xffe5cf42, gold
        createreautomated:iron_node:[stable=false], 0xffc39882, iron
        createreautomated:deepslate_iron_node:[stable=false], 0xffc39882, iron
        createreautomated:copper_node:[stable=false], 0xffc56544, copper
        createreautomated:deepslate_copper_node:[stable=false], 0xffc56544, copper
        createreautomated:gold_node:[stable=false], 0xffe5cf42, gold
        createreautomated:deepslate_gold_node:[stable=false], 0xffe5cf42, gold
        createreautomated:zinc_node:[stable=false], 0xff8ebfa4, zinc
        createreautomated:deepslate_zinc_node:[stable=false], 0xff8ebfa4, zinc
     >
}


mineral_finder {
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from particular to general (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #c:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
     >
}


